    *{
    scroll-behavior:smooth;
    }
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-image: url(https://img.freepik.com/free-vector/network-mesh-wire-digital-technology-background_1017-27428.jpg?w=996&t=st=1699857195~exp=1699857795~hmac=c55da1d3cddbe021c21eb5796460e6510bdd7795fdac16c920badbb99980101d://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQwbTZY7TqOie2PME33SS0X0uYm2FSU7igxZlL6U9J8-g&s);
            background-size: cover;
            background-position: center;
            color : #333;
            transition : background-color 0.3s ease-in-out;
        }

        header {
            background-color: #333;
            color: #fff;
            padding: 1em;
            text-align: center;
        }

        nav {
            display: flex;
            justify-content: center;
            background-color: #555;
            padding: 0.5em;
            position: sticky;
            top: 0;
            z-index: 100;
        }

        nav a {
            color: #fff;
            text-decoration: none;
            padding: 0.5em 1em;
            margin: 0 1em;
            transition: color 0.3s ease-in-out;
        }

        nav a:hover {
            color: #86c7c7;
        }

        section {
            padding: 2em;
            transition: background-color 0.3s ease-in-out;
        }

        h2 {
            color: #333;
        }

        p {
            line-height: 1.6;
        }

        img {
            max-width: 100%;
            height: auto;
        }

        footer {
            text-align: center;
            padding: 1em;
            background-color: #333;
            color: #fff;
        }
